$bg : rgba(241, 236, 227, 1);

$black : #000;
$white : #FAF7F2;

$post_bg : rgba(250, 247, 242, 1);

$beige_dark: #CAB39F;
$beige_middle: #D7C6B6;
$beige_light: #E5DBCE;

$olive: #8B9075;
$olive_light: #8B9075AA;

$t: color .3s linear, background-color .3s linear;